@font-face {
    font-family: 'Montserrat_Alternates';
    /* Nombre de la fuente */
    src: url('fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Michroma';
    /* Nombre de la fuente */
    src: url('fonts/Michroma/Michroma-Regular.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: #280B4E;
    font-family: 'Montserrat_Alternates', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #130428;
}

main,
footer,
header {
    padding-inline: 9%;
    color: #ffffff;
}

/* =============Nav =============   */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    color: #ffffff;

}

nav {
    display: flex;
    align-items: center;
    margin-block: 20px;
    padding-block: 10px;
    box-sizing: border-box;
    height: 80px;
}


nav ul {
    display: flex;
    flex: 1;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}



nav a:hover {
    color: #370a60;
    text-shadow: 1px 1px 10px #8d67d4;
}


@keyframes mi-animacion {
    0% {
        transform: translateY(-80px);
        color: transparent;
    }

    30% {
        color: transparent;
    }

    100% {

        color: #ffffff;
        transform: translateY(0);
    }
}

@keyframes mi-liz {

    0%,
    100% {
        transform: rotate(-0.5deg);
        color: yellow;
    }

    50% {
        transform: rotate(0.5deg);
        color: #ffffff;
    }

}



nav li:nth-child(1) a {
    animation-name: mi-animacion, mi-liz;
    animation-duration: 1.7s, 0.1s;
    animation-delay: 0s, 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;

}

nav li:nth-child(2) a {
    animation-name: mi-animacion, mi-liz;
    animation-duration: 1.9s, 0.1s;
    animation-delay: 0s, 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
}

nav li:nth-child(3) a {
    animation-name: mi-animacion, mi-liz;
    animation-duration: 1.9s, 0.1s;
    animation-delay: 0s, 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
}

nav li:nth-child(4) a {
    animation-name: mi-animacion, mi-liz;
    animation-duration: 1.9s, 0.1s;
    animation-delay: 0s, 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
}

/* ============= end Nav =============   */

/* ============= Icon =============   */
header div {
    width: 80px;
    height: auto;
}

header div img {
    width: 100%;
    height: auto;
}

/* ============= end Icon =============   */

/* ============= main =============   */
main {
    height: calc(100vh - 120px);
    padding-top: 60px;
    box-sizing: border-box;
    border: 3px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 200px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
    font-family: "Michroma", sans-serif;
}

main p,
main h2,
h1 {
    margin: 0;
}

main p,
main h2 {
    font-size: 1.3rem;

}

.icon-social {
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.icon-social svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.icon-social svg:hover {
    fill: #f8e21d;
    width: 60px;
    height: 60px;
    transform: rotate(10deg);
}

/* ============= end main =============   */